body{
    margin: 0 !important;
    padding: 0 !important;
   
}

a{
    text-decoration: none !important;
}

main{
    min-height: 80vh;
}
.navbar-brand{
    margin-left: 20px;
}

#navbarNav .nav-item{
    margin: 5px;
}

.container-fluid{
    padding: 10px 0;
    margin: 10px auto auto auto !important;
    background-color: lightseagreen !important;
    border-radius: 100px !important ;
    
    width: 98%;
}


.navbar-nav{
    margin: auto !important;
}

.navbar-brand{
    font-weight: bold !important;
    font-size: 2em !important;
}



#footer-bottom{
    background-color: lightseagreen !important;
    padding: 20px 0 !important;
    text-align: center;
    border-radius: 100px 0px 0px 0 !important ;
}

.fixed-bottom h4{
    font-size: 0.9em !important;
}

/*Estilo do componente List || que é a Listagem /home*/

.list-div{

    margin: 1.5em 10% !important;
    border-radius: 10px;
    border: 0.5px solid pink ;
    padding: 10px;
}

.list-div h3{
    text-align: center;
}


.row-barra{
    display: flex !important;
    flex-direction: row !important;
    margin-top: 20px;
    padding: 20px 0 !important;
    
}

.row-item{
    min-width: none;
}

#search-form{
   padding-right: 10px;
}

#add-button{
    text-decoration: none !important;
    padding: 0 !important;
    margin: 0 !important;
}

.items{
    text-align: end !important;
 
}

.add-div{
    color: white !important;
    background-color: blue !important;
    border-radius: 10px !important;
    padding: 0.5em !important;
    text-decoration: none !important;
    
}
/*Icon search   */
.input-group-btn{
    border: 1px solid lightgray;
    border-radius: 0 10px 10px 0 !important;
}

/* item da listagem*/


.tarefa-view{

    margin: 40px auto auto auto  !important;

    border-radius: 20px;
    border: 1px solid #000000;

    padding: 20px;
    width: 500px !important;
    min-height: 400px !important ;
    
    background-color: white;
}

.list-tarefa p {
    height: 100% !important;
}

.list-tarefa {
    min-width: 100% ;
    height: fit-content !important;
    width: 100%;
}

.list-tarefa p {
    display: -webkit-box;
    -webkit-line-clamp: 3 !important; /* máximo de linhas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item{
    margin-left: 10px;
    border-bottom: 0.5px dashed lightgrey !important;
    height: 3em !important;
    font-size: 1.5em !important;
    margin-top: 1em !important;
    color: black !important;
   
}

.titulo-item{
    margin-left: 10px;
}

/* Estilo da Pagina de login */

.card{
    max-width: 320px !important;
}


.btn-login button{
    margin: auto !important;
}

.card{
    -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 20px 20px 0px 0px #CAE6FF, 25px 25px 0px 0px #E1EEFF, 5px 5px 15px 5px rgba(0,0,0,0);
}



.auth-card{
    margin: 50px 0 !important;
}

.change-form-p{
    padding-top: 18px !important;
    text-align: center !important;
}


/*Box Nome do usuario*/
.user-div{
    padding: 10px 15px;
    color:white !important;
    font-size: 0.8em;
    border: 1px solid lightblue;
    border-radius: 7px;
}

.user-div:hover{
    background-color: black;
}
.dropdown-menu{
   padding: 0 !important;
}

.btn-logout{
    width: 100%;
    text-align: start !important;

}
.btn-logout:hover{
    background-color: aqua;
    
}

/* PAGINA OVERVIEW */

.container{
    height: 100vh !important;
    margin-top: 30px;
}

.card-over{
    height: fit-content !important;
    max-height: 300px;
}

.descricao p{
    white-space: nowrap !important; /* Prevents text from wrapping to the next line */
    overflow: hidden !important; /* Hides any overflowed text */
    width: 10px !important; 

    border: 1px solid #000000;
}


.metricas{
    width: 100% !important;
    background-color: wheat;
    min-width: 350px !important;
}

.card-metrics{
    width: 150px ;
    height: 110px;
    background-color: lightcoral;
}