@import url(list.css);
@import url(overview.css);
@import url(registration.css);


body {
    margin: 0 !important;
    padding: 0  !important;
    font-family: monospace !important;
    background-color: #d7d7d7;
}

a {
    text-decoration: none !important;
}

main {
    
    min-height: 80vh !important;
    padding: 20px 0 !important;
}


.navbar-estilo {
    width: fit-content !important;
   
    padding: 15px !important;
   
    background-color: #484848 !important;
    border-radius: 80px !important;
    box-shadow: 5px 10px 30px #2f2f2f;
}


.navbar-brand {
    margin-left: 20px;

}


.navbar-brand {
    font-weight: bold !important;
    font-size: 1.5em !important;
    color: #d7d7d7;
}

/* Footer */

#footer-bottom {
    background-color: transparent !important;
    padding: 20px 0 !important;
    text-align: center;
    border-radius: 100px 0px 0px 0 !important;
}
.fixed-bottom h4 {
    font-size: 0.9em !important;
}
