{% extends 'base.html' %}
{% load static %}

{% block  title %} Configuração de usuario {% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="display-flex">
        <h2>{{user.username}}</h2>
        <form action="">
            <input type="text" name="" id="" value="Lorem Ipsum">
            <input type="text" name="" id="" value="Lorem Ipsum">
            <input type="text" name="" id="" value="Lorem Ipsum">
            <input type="text" name="" id="" value="Lorem Ipsum">
        </form>
    </div>
</div>


{% endblock %}