{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock %}
{% block content %}


    <div class="container container-login">
        <div class="row gx-lg- justify-content-between">

            <div class="col-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight ">
                    The best offer <br />
                    <span class="text-primary">for your business</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                    quibusdam tempora at cupiditate quis eum maiores libero
                    veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
            </div>
            <div class="col-6">
                <div class="card card-login">
                    <div class="card-body ">
                        <div class="card-body ">
                          
                            
                            <form class="justify-content-center login-box-input" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="next" class="btn btn-primary" value="{{ next }}"></input>
                                {{ form|crispy }}
                                 <p class="change-pass-p"> Esqueceu <a href="/accounts/password_reset">sua senha ?</a></p>
                                 <div class="row justify-content-center">
                                     <button type="submit" class="btn btn-primary btn-login  ">Entrar</button>
                                 </div>
                            </form>
                            <div class="row">

                                <p class="change-form-p"> Ainda não possui conta? <a href="/accounts/register">Registre uma!</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}