{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" a method="post">
      <div class="container mt-4 ">
            <div class="py-5 bg-light rounded-3 mb-5 ">

                  <div class=" text-center px-4">

                        <h2 class="display-6 fw-bold mb-4">change password</h2>

                        {% csrf_token %}
                        {{form|crispy}}

                        <button type="submit" class="btn btn-primary btn-block">trocar</button>

                  </div>
            </div>
      </div>
</form>

{% endblock %}