{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<style>
      body {
            background-color: #0D6EFD;
      }

      form {
            max-width: 500px !important;
            margin: auto !important;
      }

      .btn {
            border-radius: 300px !important;
      }
      .container{
            margin-top: 20px !important;
      }
      .saudacao{
            text-transform: capitalize !important;
      }

      footer{
            color: #aacbfd !important;
      }
      .btn-secondary{
            color: #5C636A !important;
            background-color: transparent  !important;
      }

      .btn-secondary:hover{
            background-color: #5C636A  !important ;
            color: #F8F9FA !important;
      }

      .btn-primary:hover{
            background-color: #023c92;

      }

</style>
<div class="container  text-center">
      <h2 class="display-6 fw-bold mb-4" style="color: #c7ddff;">Alteração de senha</h2>

      <form action="" a method="post">
            <div class="py-5 bg-light rounded-3 mb-5 ">

                  <div class=" text-start  px-5">
                        
                        <h2 class="fs-4 fw-light mb-4 saudacao text-center">Olá,{{user.first_name}}</h2>

                        {% csrf_token %}
                        {{form|crispy}}

                        <div class="d-flex justify-content-between ">
                              
                              <a href="/" class="btn btn-lg btn-secondary  mt-3">Cancelar</a>
                              <button type="submit" class="btn btn-lg btn-primary mt-3">Salvar</button>

                        </div>

                  </div>
            </div>
      </form>
</div>

{% endblock %}