{% extends 'base.html' %}

{% block title %}Senha redefinida{% endblock %}

{% block content %}


<style>
  
</style>

<section class="container mt-4 ">
      <!-- Destaque -->
      <div class="py-5 bg-light rounded-3 mb-5 ">
            <div class="container text-center px-4">
                  <img src="/static/assets/mail-sende.png" class="mb-4" width="50" height="50" >
                  <h3 class="display-6 fw-bold mb-4">Email Enviado !</h2>
                  <p class="lead text-muted mb-5 p-5">
                        Por medidas de segurança, desconectamos todos os dispositivos vinculados à sua conta. Para retomar o acesso, enviamos um link exclusivo ao seu e-mail cadastrado para redefinir sua senha.
                  </p>

                  
                  <div class="d-flex flex-column flex-md-row justify-content-center gap-3">
                        
                        <a class="btn btn-outline-secondary btn-lg px-4 py-3 fw-medium" href="/accounts/login">
                              Conectar novamente
                        </a>
                  </div>
            </div>
      </div>
</section>
{% endblock %}