{% extends "base.html" %}

{% block content %}


<style>
    section {
        height: 90vh !important;
    }


    .card {
        border-radius: 0 !important;
        background-color: transparent !important;
        box-shadow: none !important;
    }


    .tm {
        height: 100% !important;
    }

    .ff{
        height:  450px !important;
    }
</style>

<section class="form-content  d-flex align-items-center ">
    <div class="container ">

        <div class="row justify-content-center m-0 ff">

            <div class="col-lg-5" style="background-color: #efefef; border-radius: 10px 0 0px 10px;">
                <div class="row container  d-flex align-items-center tm py-2" >

                    <h6 class=" fs-6">Bem vindo!</h6>
                    <img src="/static/assets/Logo Colaborelist.svg"  alt="">

                    <h6>
                        Ainda não possui conta ?
                        <a href="/accounts/register ">Registre agora</a>
                    </h6>
                </div>
            </div>

            <div class="  col-lg-5 "  style="background-color: #ffffff ; border-radius: 0px 10px 10px 0px;">
                <div class="card border-0 tm  ">

                    <div class=" justify-content-center">
                       
                        <h3 class="fw-bolder my-4 fs-4 ">Digite o seu email </h3>
                        <span class="font-weight-light   mt- 4 text-muted fs-6">Informe um email associado a sua conta do ColaboreList.</span>
                    </div>

                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form_errors">
                            {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <label class="small mt-4 mb-3" for="id_email">Email</label>
                        <input type="email" name="email" class="form-control mb-4" autocomplete="email" maxlength="254"
                            required id="id_email" placeholder="seu@email.com">


                        <button type="submit" class="col-md-12 btn  btn-primary mb-3 p-2">Redefinir senha
                        </button>

                    </form>

                    <div class=" text-center ">

                        <a href="{% url 'login' %}">Voltar para Login</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}