{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Adicione um tarefa {% endblock %}

{% block content %}
<div class="container align-items-center">
    <div class=" list-div box-add-tarefa ">
        <h1>Nova tarefa</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row">
                <input class="btn btn-success" type="submit" value="Adicionar Tarefa">
            </div>
        </form>
    </div>
</div>

{% endblock %}