{% extends 'base.html' %}

{% block title %} Tarefa {% endblock %}

{% block content %}

<div class="container ">
  <div class="card  tarefa-view text-center ">   
      <div class="col ">  
          <h2>{{ tarefa.titulo }}</h2>
          <span>icon</span>   
        <div class="col row-tags">
          <span class="status md-4" >{{tarefa.status}}</span>
          <span class="categoria" >{{tarefa.categoria}}</span>
        </div>
      </div>
      <div class="col bottom descricao-view">
        <p>{{ tarefa.descricao }}</p>
      </div>
  </div>
</div>

{% endblock %}